/* Ng-repeat Animation*/
.animation-repeat.ng-enter{
  transition: all linear 0.3s;
  opacity: 0;
}
.animation-repeat.ng-enter-active{
  opacity: 1;
}
.animation-repeat.ng-leave {
  transition: all linear 0.3s;
  opacity: 1;
}
.animation-repeat.ng-leave-active {
  opacity: 0;
}

/* Basic Show-Hode Animation */
.animation-show-hide {
  transition: all linear 0.3s;
}
.animation-show-hide.ng-hide {
  opacity: 0;
}
