body {
  background-color: #fbfbfb;
}
.seg-link{
  color: #959595 !important;
}
.centered{
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.form-control-basic{
  color: #5a5a5a;
  padding-left: 2px !important;

}
/* Panel Style*/
.panel-primary>.panel-heading {
  color: #ffffff;
  background: linear-gradient(to left, #55cca2 , #55cca2);
  border-color: #121214;
  border-bottom: solid 2px #47b68f;
  border-radius: 2px;
}
.panel-footer{
  border-top: 1px solid #dddddd;
}
/* Nav bar */
.navbar-main{
  background-color: #121214;
  border-radius: 0;
  border-bottom: solid 2px #55cca2;
}
.navbar-main .navbar-nav>li>a {
  color: #bbb;
}
.navbar-main .navbar-nav>li>a:hover{
  color: #ddd;
}
.navbar-main .navbar-nav>li>a:focus{
  color: #ddd;
}
.navbar-main button{
  background-color: rgb(230, 230, 230);
}
.navbar-main button:hover, .navbar-main button:focus{
  background-color: rgb(249, 249, 249) !important;
}
.language-content{
  padding: 20px 5px !important;
}
.navbar-main .navbar-brand{
  color: #ccc;
  padding: 15px;
}
.navbar-main .navbar-brand:hover{
  color: #eee;
}
.navbar-brand-title{
  position: relative;
  top: 3px;
}
/* END */
.header-page{
  color: #5f5f5f;
  font-size: 28pt;
  margin: 20px 0 40px 0;
}
.header-page img{
  width: 70px;
}
.fut-calculator-app{
  display: inline-block !important;
}
.fut-calculator-app-small{

  width: 32px;
}
@media (min-width: 1200px){
  .container-small{
    width: 800px;
  }
}

.money-icon{
  color: #e8e100;
}
.cursor-pointer{
  cursor: pointer;
}
.inline-block{
  display: inline-block;
}
.header-page{
  text-align: center;
}
.link-none{
  color: #FFF;
}
.link-none:active{
  color: #FFF;
}
.link-none:focus{
  color: #FFF;
}
.link-none:hover{
  color: #DDD;
}
/* Footer */
.page-footer{
  position: relative;
  color: #888;
  text-align: center;
  background: #121214;
  border-top: 3px solid #55cca2;
  margin-top: 70px;
  padding: 25px 40px 15px 40px;
}
.page-footer a{
  color: #fffdfd;
}
.page-footer a:hover{
  color: #a4a4a4;
}
.page-footer h2{
  color: #AAA;
}
.header-footer{
  color: #BBB;
  font-size: 25pt;
}
.social-footer{
  font-size: 11pt;
  margin-bottom: 20px;
}
.social-footer div{
  margin-top: 5px;
}
.copy-footer{
  color: #959595;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: #000;
  text-align: center;
}
.copy-footer p{
  margin: 0;
}
.header-footer img{
  width: 60px;
}
.information-footer {
  font-size: 13px;
  margin: 30px 0 0 0;
}
/* Trade informations */

.profitStatusIcon{
  text-shadow: 0.3px 0.3px 1px #616161;
}
.isProfitTradeIcon{
  color: #14fd1c;
}
.isNotProfitTradeIcon{
  color: #f00;
}
.isSomeProfitTrade {
  color: #fede00;
}
.panel-body-saveds-trades{
  overflow: hidden;
}
.icon-coin{
  width: 15px;
  height: 18px;
}
.info-trade{
  font-size: 11pt;
}
.info-trade-btn{
  margin-top: 10px;
}
.isProfit{
  font-weight: bolder;
  color: #12c71a;
}
.isLoss{
  font-weight: bolder;
  color: #F22;
}
.btn-save-trade{
  color: #FFF;
  font-size: 14pt;
}
.panel-saved-trade{
  margin-bottom: 4px;
}
.panel-saved-trade .trade-footer{
  position: relative;
}
.trade-option{
  text-align: center;
  display: inline-block;
  width: 49%;
}
.trade-option .delete-trade{
  color: #F00;
}
/*End*/
.vertical-line {
  display: inline-block;
  height: 44px;
  border-left: 1px solid #ddd;
  position: absolute;
  bottom: 0px;
}
/*About the App*/
.about-app-header{
  height: 140px;
  padding: 10px;
  background-position: 0px 61%;
  border-radius: 3px;
  background-image: url(../imgs/about-app-wallpaper.jpg);
  background-size: cover;
}
.about-app-body .name-app{
  text-align: center;
}
.about-app a{
  color: #2196f3;
}
.about-app a:hover{
  color: #005fab;
}
.about-app-body{
  text-align: left;
  margin-top: 18px;
}
/* About the Developer */
.about-dev-header{
  height: 140px;
  padding: 10px;
  background-position: 0px -211px;
  border-radius: 3px;
  background-image: url(https://scontent.fpoa12-1.fna.fbcdn.net/v/t1.0-9/15578666_1302103556514343_6474261687287703631_n.jpg?oh=bda745ca731525a45bc60a982615f507&oe=5992F44B);
}
.img-dev{
  border: solid 3px #cecece;
  border-radius: 50%;
  background-size: 40%;
  width: 140px;
  box-shadow: 1px 1px 10px #666;
}
.about-dev-body{
  text-align: left;
  margin-top: 18px;
}
.about-dev-body a{
  opacity: .7;
}
.about-dev-body .name-dev{
  text-align: center;
}
.about-dev-body a:hover{
  opacity: 1;
}
.social-content{
  text-align: center;
}
.about-dev-footer{
  padding-top: 0;
}
/*Icons Style*/
.social-icons-24 {
  font-size: 24px;
}
.social-icons-22 {
  font-size: 22px;
}
.social-icons-28 {
  font-size: 28px;
}
.github-icon{
  color: #000;
}
.github-icon-purble{
  color: #5157bc;
}
.androud-icon{
  color: #77c159;
}
.facebook-icon{
  color: #3b5998;
}
.linkedin-icon{
  color: #007ab9;
}
.twitter-icon{
  color: #1da1f2;
}
.get-app-on-play-store{
  width: 180px;
}
