body {
    background-color: #fbfbfb;
    background-image: url(https://braziljs.org/styles/images/bg02.png), url(https://braziljs.org/styles/images/bg03.png), url(https://braziljs.org/styles/images/bg01.png);
    background-position: top left,	bottom left,	top left;
    background-size: 100% 6em,	0% 6em,	auto;
    background-repeat: no-repeat,	no-repeat, repeat;
}
.centered{
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.header-page{
  color: #5f5f5f;
  margin-bottom: 40px;
}
@media (min-width: 1200px){
  .container-small{
    width: 800px;
  }
}

.money-icon{
  color: #e8e100;
}
.cursor-pointer{
  cursor: pointer;
}
.inline-block{
  display: inline-block;
}
.header-page{
  text-align: center;
}
.link-none{
  color: #FFF;
}
.link-none:active{
  color: #FFF;
}
.link-none:focus{
  color: #FFF;
}
.link-none:hover{
  color: #DDD;
}
/* Trade informations */
.icon-coin{
  width: 15px;
  height: 18px;
}
.info-trade{
  font-size: 11pt;
}
.info-trade-btn{
  margin-top: 10px;
}
.isProfit{
  font-weight: bolder;
  color: #12c71a;
}
.isLoss{
  font-weight: bolder;
  color: #F22;
}
.btn-save-trade{
  color: #FFF;
  font-size: 14pt;
}
.panel-saved-trade{
  margin-bottom: 4px;
}
