<!DOCTYPE html>
<html ng-app="futCalculatorApp">
<head>
  <meta charset="utf-8">
  <title>FUT Calculator</title>
  <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animation.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/controllers/futCalculatorCtrl.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script src="js/filters/numberFormat.js" charset="utf-8"></script>
  <script src="js/config/interceptorsConfig.js" charset="utf-8"></script>
  <script src="js/interceptors/loadingInterceptor.js" charset="utf-8"></script>
</head>
<body ng-controller="futCalculatorCtrl">
  <section class="container container-small">

    <article ng-show="loading" class="">
      <h1>Carregando...</h1>
    </article>

    <section ng-hide="loading">
      <header class="col-md-12 header-page centered">
        <h2>
          <i class="fa fa-calculator" aria-hidden="true"></i>
          FUT Calculator 1.0
        </h2>
      </header>
      <article class="col-md-6 content-calculator">
        <section class="panel panel-primary">
          <header class="panel-heading">
            <div class="inline-block">
              <i class="fa fa-calculator" aria-hidden="true"></i>
              Trade panel
            </div>
          </header>
          <article class="panel-body">
            <form class="" name="tradeForm" action="index.html" method="post">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="trade.name" placeholder="Trade Name">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="trade.purchasePrice" placeholder="Purchase price" ng-required="true">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="trade.sellBidPrice" placeholder="Sell Bid Price" ng-required="true">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="trade.sellBuyNowPrice" placeholder="Sell Buy now Price" ng-required="true">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="trade.numCardsSolds" placeholder="Cards solds" ng-required="true">
              </div>
              <div class="form-group">
                <button type="button" ng-disabled="tradeForm.$invalid" ng-click="calculate(trade)" class="btn btn-success btn-block" name="button">Calculate</button>
                <button type="button" ng-disabled="isEmptyObject(trade)" ng-click="clearTradeForm()" class="btn btn-danger btn-block" name="button">Clear</button>
                <button type="button" ng-disabled="tradeForm.$invalid" ng-click="saveTrade(trade)" class="btn btn-primary btn-block">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  Save trade
                </button>
              </div>
            </form>
            <article ng-show="tradeForm.$invalid && tradeForm.$dirty" class="animation-show-hide alert alert-danger">
              <i class="fa fa-info-circle"></i>
              There Are blank fields! Please fill them.
            </article>

            <article ng-show="trade.profitBid || trade.profitBuyNow" class="animation-show-hide animation-show-hide.ng-ride">

              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Bid profit: <span ng-class="{isProfit : trade.isBidProfit, isLoss : !trade.isBidProfit}">{{trade.profitBid| number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Buy Now profit: <span ng-class="{isProfit : trade.isBuyNowProfit, isLoss : !trade.isBuyNowProfit}">{{trade.profitBuyNow| number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Bid (5%): <span class="isLoss">{{trade.eaTaxBid| number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Buy Now (5%): <span class="isLoss">{{trade.eaTaxBuyNow| number}} coins</span>
              </div>
            </article>
          </article>
        </section>
      </article>
      <article class="col-md-6">
        <div ng-show="$tradeList.length<=0" class="alert alert-info animation-show-hide">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          No trades saved now.
        </div>
        <div class="animation-show-hide">
          <article ng-hide="$tradeList.length<=0" class="panel panel-primary panel-saved-trade" ng-repeat="trade in $tradeList">
            <header class="panel-heading cursor-pointer" ng-click="collapseShow = !collapseShow">
              <i class="fa fa-money money-icon" aria-hidden="true"></i>
              {{trade.name}}
              <span class="pull-right">
                <i ng-if="!collapseShow" class="fa fa-plus" aria-hidden="true"></i>
                <i ng-if="collapseShow" class="fa fa-window-minimize" aria-hidden="true"></i>
              </span>
            </header>
            <article class="panel-body animation-show-hide" ng-show="collapseShow">
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Purchase price: <strong>{{trade.purchasePrice| number}} coins</strong>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Sell Bid price: <strong>{{trade.sellBidPrice| number}} coins</strong>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Sell Buy now price: <strong>{{trade.sellBuyNowPrice| number}} coins</strong>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Cards solds: <strong>{{trade.numCardsSolds| number}} cards</strong>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Bid profit: <span ng-class="{isProfit : trade.isBidProfit, isLoss : !trade.isBidProfit}">{{trade.profitBid| number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Buy Now profit: <span ng-class="{isProfit : trade.isBuyNowProfit, isLoss : !trade.isBuyNowProfit}">{{trade.profitBuyNow | number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Bid (5%): <span class="isLoss">{{trade.eaTaxBid| number}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Buy Now (5%): <span class="isLoss">{{trade.eaTaxBuyNow| number}} coins</span>
              </div>
              <div class="info-trade info-trade-btn">
                <button type="button" ng-click="deleteTrade(trade)" class="btn btn-danger btn-block" name="button">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  Delete trade
                </button>
              </div>

            </article>
          </article>
        </div>
      </article>
    </section>
  </section>

</body>
</html>
