<!DOCTYPE html>
<html ng-app="futCalculatorApp">
  <head>
    <meta charset="utf-8">
    <title>FUT Calculator</title>
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="futCalculatorCtrl">
    <section class="container">
      <header class="col-md-12 header-page centered">
        <h2>FUT Calculator 1.0</h2>
      </header>
      <article class="col-md-4 content-calculator">
        <section class="panel panel-primary">
          <header class="panel-heading">
            <div class="inline-block">
              <i class="fa fa-calculator" aria-hidden="true"></i>
              Trade panel
            </div>
          </header>
          <article class="panel-body">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="trade.name" placeholder="Trade Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="trade.purchasePrice" placeholder="Purchase price">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="trade.sellBidPrice" placeholder="Sell Bid Price">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="trade.sellBuyNowPrice" placeholder="Sell Buy now Price">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="trade.numCardsSolds" placeholder="Cards solds">
              </div>
              <div class="form-group">
                <button type="button" ng-click="calculate(trade)" class="btn btn-success btn-block" name="button">Calculate</button>
                <button type="button" ng-click="trade = {}" class="btn btn-danger btn-block" name="button">Clear</button>
                <button type="button" ng-click="saveTrade(trade)" class="btn btn-primary btn-block">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save trade
                </button>
              </div>
            </form>

            <article ng-if="trade.profitBid && trade.profitBuyNow">
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Bid profit: <span ng-class="{isProfit : trade.isBidProfit, isLoss : !trade.isBidProfit}">{{trade.profitBid}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Buy Now profit: <span ng-class="{isProfit : trade.isBuyNowProfit, isLoss : !trade.isBuyNowProfit}">{{trade.profitBuyNow}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Bid (5%): <span class="isLoss">{{trade.eaTaxBid}} coins</span>
              </div>
              <div class="info-trade">
                <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
                Ea Tax Buy Now (5%): <span class="isLoss">{{trade.eaTaxBuyNow}} coins</span>
              </div>
            </article>
          </article>
        </section>
      </article>
      <article class="col-md-4">
        <article class="panel panel-saved-trade" ng-repeat="trade in tradeList">
          <header class="panel-heading cursor-pointer" ng-click="collapseShow = !collapseShow">
            {{trade.name}}
            <span class="pull-right">
              <i ng-if="!collapseShow" class="fa fa-plus" aria-hidden="true"></i>
              <i ng-if="collapseShow" class="fa fa-window-minimize" aria-hidden="true"></i>
            </span>
          </header>
          <article class="panel-body" ng-show="collapseShow">
            <div class="info-trade">
              <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
              Bid profit: <span ng-class="{isProfit : trade.isBidProfit, isLoss : !trade.isBidProfit}">{{trade.profitBid}} coins</span>
            </div>
            <div class="info-trade">
              <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
              Buy Now profit: <span ng-class="{isProfit : trade.isBuyNowProfit, isLoss : !trade.isBuyNowProfit}">{{trade.profitBuyNow}} coins</span>
            </div>
            <div class="info-trade">
              <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
              Ea Tax Bid (5%): <span class="isLoss">{{trade.eaTaxBid}} coins</span>
            </div>
            <div class="info-trade">
              <img class="icon-coin" src="https://www.futbin.com/design/img/coins_bin.png" alt="">
              Ea Tax Buy Now (5%): <span class="isLoss">{{trade.eaTaxBuyNow}} coins</span>
            </div>
          </article>
        </article>
      </article>
      <article class="col-md-4 jumbotron">

      </article>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="lib/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/controllers/futCalculatorCtrl.js" charset="utf-8"></script>
  </body>
</html>
